.resultsGrid{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}