.resultsGrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer{
  position: relative;
}

.imageContainer button{
  position: absolute;
  bottom: 0.5rem;
  right: 4rem;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 10rem;
  background-color: royalblue;
  color: white;
  pointer-events: none;
  cursor: pointer;
}

.imageContainer:hover button{
  opacity: 1;
  pointer-events: all;
}