.cardDetailMain{
  display: flex;
  justify-content: space-around;
}

.cardDetailMain .sectionLeft{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardDetailMain .sectionRight{
  flex: 1;
}

.castingCost{
  display: flex;
  font-size: 2rem;
}

.castingCost img{
  width: 2rem;
  size: 2rem;
  margin: 0 0.1rem;
  object-fit: contain;
}
